html,
body {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

body {
    height: 90%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1533575770077-052fa2c609fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2FtcGdyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    background-position: center center;
}

.cover-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-link {
    color: rgb(237, 236, 236, 0.6);
    padding: 0.25rem 0;
    margin-left: 1.5rem;
    border-bottom: 0.2rem solid transparent;
    font-weight: 400;
}

.nav-link:hover {
    color: white;
    border-bottom-color: gainsboro;
}

.active {
    border-bottom-color: gainsboro;
}

.btn {
    padding: 1.8vh;
    box-shadow: 3px 4px #212529;
    background-color: #000000;
    color: #e9ecef;
    font-size: 1rem;
}

.btn:hover {
    box-shadow: 10px 10px rgba(248, 249, 250, 0.5);
    background-color: rgba(0, 0, 0, 0.8);
    color: #e9ecef;
}

.footer {
    background-color: transparent;
}